snippet ssel "Select from table" b
	select * from ${1:table}
endsnippet

snippet stt "Select top 10 from table" b
	select top 10 * from ${1:table}
endsnippet

snippet sttt "Select top 100 from table" b
	select top 100 * from ${1:table}
endsnippet

snippet sfw "Select from table where" b
	select * from ${1:table}
	where ${2:column} = '${3:value}'
endsnippet

snippet sdel "Delete from table where" b
	delete from ${1:table}
	where ${2:column} = '${3:value}'
endsnippet
